.addbox{	
	.header{
		height: 1rem;
		background: #000000;
		text-align: center;
		line-height: 1rem;
		font-size: 0.28rem;
		color: #FFFFFF;
		font-weight: bold;
		margin-bottom:0.6rem;
		position: relative;
		span{
			margin-left: -0.5rem;
		}
		.goback{
			float: left;
			margin-left: 0.24rem;
			font-size: 0.5rem;
			color: #FFFFFF;
		}
		.add{
			float: right;
			margin-right: 0.24rem;
			img{
				width: 0.4rem;
			}
		}
	}
	p{
		line-height: 0.8rem;
		display: flex;
		align-items: center;
		font-size: 0.18rem;
		justify-content: center;
		input,select{
			width: 3.7rem;
			height: 0.5rem;
			border: 1px solid #e5e5e5;
			text-indent: 0.1rem;
		}
		textarea{
			width: 3.7rem;
			height: 2rem;
			text-indent: 0.2rem;
			border: 1px solid #e5e5e5;
		}
		span{
			width: 1.3rem;
		}
	}
	.nextstep{
		margin-top: 0.7rem;
		display: block;
		width: 1.4rem;
		height: 0.5rem;
		background: #d71f21;
		color: #FFFFFF;
		line-height: 0.5rem;
		font-size: 0.18rem;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		border-radius: 20px;
	}
	.content{
		margin-top: 0.2rem;
		
	}
	.comment{
		display: flex;
		justify-content:space-around;
		align-items: center;
		width: 100%;
		margin-top: 0.3rem;
		flex-wrap: wrap;
		div{
			padding-left: 0.36rem;
			margin-top: 0.2rem;
			line-height: 0.44rem;
			text-indent: 5px;
			img{
				width: 0.6rem;
				height: 0.6rem;
			}
		}
		
	}
	input[type="submit"]{
		border: none;
	}
	.gift_num{
		line-height: 0.6rem;
		display: block;
		span{
			height: 0.27rem;
			display: block;
			line-height: 0.3rem;
			width: 0.4rem;
			border: 1px solid #EEEEEE;
		}
	}
}