footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: #FFFFFF;
	ul{
		display: flex;
			justify-content: space-between;
			border-top: 1px solid #333333;
		li{
			width: 33%;
			height: 0.94rem;
			line-height: 0.94rem;
			text-align: center;
			font-size: 0.18rem;
			
			
		}
	}
}